* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Mukta Vaani', sans-serif;
}

:root {
    --primary: #239273;
    --secondary: #EDEEFF;
    --blanco: #FAFAFA;
    --negro: #000000;
}

